.pokeCard {
  width: 200px;
  background-color: #242527;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.4rem;
  border-radius: 1rem;
  border: 3px solid #1f1f20;
  transition: .3s;
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg) scale(1);
}

.pokeCard:hover {
  transform: perspective(1000px) rotateY(6deg) rotateX(5deg) scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.421);

}

.pokeId {
  font-size: 2.2rem;
}

.pokeImgContainer {
  cursor:pointer;
  background-color: #363636;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 1.5rem;
  background-image: url("../../assets/img/pokebola.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pokeImgContainer img {
  width: 90%;
}

.pokeName {
  font-size: 3em;
  margin: 5px 0;
  text-transform: capitalize;
}

.pokeTypes {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pokeTypes > span {
  font-size: 1.6rem;
  padding: 0 1.5rem;
  border: 3px solid #1f1f20;
  border-radius: 10px;
  padding: 3px 15px;
  text-transform: capitalize;
  /* font-weight: 400; */
  /* text-shadow: -1px 1px 1px #1f1f20; */
}
