.inputSearchContainer {
  display: flex;
  flex-direction: column;
}

.inputSearchContainer label {
  margin-left: 2px;
  margin-bottom: 1px;
  font-size: 1.3rem;
  color: #fffafa;
}

.inputSearch {
  font-family: "Flexo";
  font-size: 1.8rem;
  outline: none;
  border-radius: 4px 0 0 4px;
  transition: 0.5s;
  padding: 0.5rem;
  background-color: #505050c1;
  border: 4px outset #395fa9;
  border-right: none;
  color: #fffafa;
  width:25rem
}

.inputSearch:focus {
  outline: none;
  border-right: none;
}

.inputSearch:hover {
  outline: none;
}

.buttonSearch {
  background-color: #ffcb05;
  border-radius: 0 4px 4px 0;
  width: 4rem;
  border: 4px outset #395fa9;
  border-left: none;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSearchGroup {
  display: flex;
  align-items: stretch;
}
